<% include header %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.4&appId=256332064399828";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="wrapper">
    <img class="logo" src="images/zizkostel_800.jpg" />

    <h1>Těšíme se na Vás</h1>

    <div class="fb-page" data-href="https://www.facebook.com/MedunkaKomunitniZahradkaZizkov" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/MedunkaKomunitniZahradkaZizkov"><a href="https://www.facebook.com/MedunkaKomunitniZahradkaZizkov">Meduňka Komunitní Zahrádka Źizkov</a></blockquote></div></div>

    <div class="fb-page" data-href="https://www.facebook.com/zizkostel" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/zizkostel"><a href="https://www.facebook.com/zizkostel">Komunitní Žižkostel</a></blockquote></div></div>

    <div class="fb-page" data-href="https://www.facebook.com/pages/Komunitn%C3%AD-centrum-na-%C5%BDi%C5%BEkov%C4%9B/158972964129262" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Komunitn%C3%AD-centrum-na-%C5%BDi%C5%BEkov%C4%9B/158972964129262?fref=ts"><a href="https://www.facebook.com/pages/Komunitn%C3%AD-centrum-na-%C5%BDi%C5%BEkov%C4%9B/158972964129262?fref=ts">Komunitní centrum na Žižkově</a></blockquote></div></div>
</div>

<script>


</script>

<% include footer %>
