<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Tomas Hujer"/>
        <meta charset="UTF-8" />

        <title>title</title>

        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />

        <script type="text/javascript" src="/javascripts/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js" ></script>
        <script type="text/javascript" src="/javascripts/main.js" ></script>
    </head>
    <body>

        <div class="div.side_panel">
            <ul>
                <li><a href="/">Main</a></li>
                <li><a class="icon-playlist" href="/">Library</a></li>
                <li><a data-type="hide" href="#"><span>>></span></a></li>
            </ul>
        </div>

    </body>
<html>