html, body {
    height: 100%;
    padding: 0;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: black;
    color: orange;
}

a {
    color: yellow;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

input[type="text"] {
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
}

button {
    color: orange;
    border-radius: 5px;
    background-color: darkslategray;
    border-width: 1px;
    border-style: outset;
    border-color: grey;
    margin-bottom: 3px;
}

